[submodule "services/add"]
	path = services/add
	url = https://github.com/vems/add-service-go.git
[submodule "services/api"]
	path = services/api
	url = https://github.com/vems/api-gateway.git
[submodule "pb"]
	path = pb
	url = https://github.com/vems/pb.git
[submodule "web"]
	path = web
	url = https://github.com/vems/web.git
